
<header class="encabezado">
    <div class="container text-xl-center">
        <h1><em>Cita Médica</em></h1>
        <blockquote class="blockquote">
            <h6>Es el turno de tu salud</h6>
        </blockquote>
    </div>
</header>