
{{! Login para los Pacientes }}
<div class="container d-flex justify-content-center">
    <div class="w-25 text-center">
        <h3 class="fs-4">Para sacar un turno ingrese aquí</h3>
        <form action="/loginpaciente" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="loginUsuarioPaciente" id="loginUsuarioPaciente" minlength="7" maxlength="8" placeholder="DNI" required>
                <label for="loginUsuarioPaciente">DNI</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="loginPassPaciente" id="loginPassPaciente" minlength="8" maxlength="14" placeholder="Contraseña" required>
                <label for="loginPassPaciente">Contraseña</label>
            </div>
            <button type="submit" class="btn btn-success w-100 mb-4">Iniciar Sesión</button>
        </form>
        <h6>Si es tu primera vez aquí regístrate:</h6>
        <button type="button" class="btn btn-outline-success w-100" data-bs-toggle="collapse" data-bs-target="#registroPaciente" aria-expanded="false" aria-controls="registroPaciente">Registrarse</button>
    </div>
</div>

<br>
{{! Formulario para el Registro de un nuevo Paciente }}
<div class="collapse" id="registroPaciente">
    <div class="container d-flex justify-content-center">
        <div class="w-50">
            <div class="text-center">
                <h2>Registrarse</h2>
                <h4>Complete el formulario para registrarse en la app y luego poder gestionar un turno</h4>
            </div>
            <div>
                <form action="/nuevoPaciente" method="post">
                    <div class="mb-3">
                        <label for="usuarioPaciente" class="form-label">DNI</label>
                        <input type="text" class="form-control" id="usuarioPaciente" name="usuarioPaciente" minlength="7" maxlength="8" aria-describedby="dniHelp" required>
                        <div id="dniHelp" class="form-text">Escriba su DNI solo con números, sin puntos ni comas.</div>
                    </div>
                    <div class="mb-3">
                        <label for="passPaciente" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="passPaciente" name="passPaciente" minlength="8" maxlength="14" aria-describedby="passHelp" required>
                        <div id="passHelp" class="form-text">La contraseña deberá ser de 8-14 caracteres{{!, contener letras y números y no debe contener espacios o caracteres especiales}}.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="nombrePaciente" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombrePaciente" name="nombrePaciente" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidoPaciente" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellidoPaciente" name="apellidoPaciente" required>
                    </div>
                    <div class="mb-3">
                        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono Móvil</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">e-mail</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="obraSocial" class="form-label">Elija su Obra Social, Mutual o Prepaga</label>
                        <select class="form-select" name="obraSocial" id="obraSocial" required>
                            <option value="">--</option>
                            {{#each datosObrasSociales}}
                            <option value="{{idOS}}" label="{{nombreObraSocial}}">
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
    <br>
</div>

{{! Login para los Médicos }}
<div class="container d-flex justify-content-center border-top pt-3">
    <div class="w-25 text-center">
        <h3 class="fs-4">Si usted es un Médic@ asociado ingrese aquí</h3>
        <form action="/loginmedico" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="loginUsuarioMedico" id="loginUsuarioMedico" minlength="7" maxlength="8" placeholder="DNI" required>
                <label for="loginUsuarioMedico">DNI</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="loginPassMedico" id="loginPassMedico" minlength="8" maxlength="14" placeholder="Contraseña" required>
                <label for="loginPassMedico">Contraseña</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-4">Iniciar Sesión</button>
        </form>
        <h6>Si aún no estás asociado a la plataforma regístrate:</h6>
        <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="collapse" data-bs-target="#registroMedico" aria-expanded="false" aria-controls="registroMedico">Registrarse</button>
    </div>
</div>
<br>
{{! Formulario para el Registro de un nuevo Médico }}
<div class="collapse" id="registroMedico">
    <div class="container d-flex justify-content-center">
        <div class="w-50">
            <div class="text-center">
                <h2>Registrarse</h2>
                <h4>Complete el formulario para registrarse como Médic@</h4>
            </div>
            <div>
                <form action="/nuevoMedico" method="post">
                    <div class="mb-3">
                        <label for="usuarioMedico" class="form-label">DNI</label>
                        <input type="text" class="form-control" id="usuarioMedico" name="usuarioMedico" minlength="7" maxlength="8" aria-describedby="dniHelp" required>
                        <div id="dniHelp" class="form-text">Escriba su DNI solo con números, sin puntos ni comas.</div>
                    </div>
                    <div class="mb-3">
                        <label for="passMedico" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="passMedico" name="passMedico" minlength="8" maxlength="14" aria-describedby="passHelp" required>
                        <div id="passHelp" class="form-text">La contraseña deberá ser de 8-14 caracteres{{!, contener letras y números y no debe contener espacios o caracteres especiales}}.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="nombreMedico" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreMedico" name="nombreMedico" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidoMedico" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellidoMedico" name="apellidoMedico" required>
                    </div>
                    <div class="mb-3">
                        <label for="especialidad" class="form-label">Especialidad</label>
                        <input type="text" class="form-control" id="especialidad" name="especialidad" required>
                    </div>
                    <div class="mb-3">
                        <label for="resena" class="form-label">Escriba una breve reseña suya</label>
                        <textarea class="form-control" id="resena" name="resena" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>
